<!-- \<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lion</h5>
    <div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <span class="input-group-text" id="basic-addon3">IP</span>
	  </div>
	  <input type="text" class="form-control" aria-describedby="basic-addon3" [(ngModel)]="ip" disabled>
  	</div>  
	<div class="card-footer">
      <button (click)="sendAction('stop')">Parar</button>
	  <button (click)="sendAction('forward')"> Adelante</button>
	  <button (click)="sendAction('aback')"> Atras</button>
    </div>
  </div>
</div> -->
<div class="container">
	<div class="row">
		<div class="col-md-7 col-sm-7 col-center">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row no-gutters">
				    <div class="col-md-4" style="align-items: center">
				      <img  src="http://getwallpapers.com/wallpaper/full/e/e/c/1016523-large-lion-wallpaper-1920x1080-for-mac.jpg" height="180" width="180" class="card-img" >
				    </div>
				    <div class="col-md-8">

				      <div class="card-body">
				        <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon3">IP</span>
						  </div>
						  <input type="text" class="form-control" aria-describedby="basic-addon3" [(ngModel)]="ip" >
					  	</div>						  	
		  					<div style="text-align:center">
		  						<button (click)="sendAction('forward')" title="Adelante"> 
								<img src="https://img.icons8.com/cotton/50/000000/circled-chevron-right.png">
		  					</button>
		  					<button (click)="sendAction('stop')" title="Parar">
						  		<img src="https://img.icons8.com/cotton/50/000000/circled-pause.png">
						  	</button>
		  					<button (click)="sendAction('aback')" title="Atras"> 
							    <img src="https://img.icons8.com/cotton/50/000000/circled-chevron-left.png">
		  					</button>
		  					</div>	  				
				      </div>
				      
				    </div>
				</div>
			</div>
		</div>	
	</div>
</div>