
<div class="container">
	<div class="row">
		<div class="col-md-7 col-sm-7 col-center">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row no-gutters">
				    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="align-items: center">
				      <img  src="http://getwallpapers.com/wallpaper/full/e/e/c/1016523-large-lion-wallpaper-1920x1080-for-mac.jpg"  width="180" class="card-img" >
				    </div>
				    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
						<div class="card-head" style="text-align: center;">
								<h3>Arquitectura de hardware</h3>
								<h3>Integrantes:</h3>
								<small><p>Marcela Arango Villada 1214738696</p></small>
								<small><p>Mateo Valencia Muriel 1036683385</p></small>
								<small><p>Ronal Eduardo Ocampo 1037662900</p></small>
								<small><p>Luz Eliana González Castaño 1036678584</p></small>
								<h3>Fecha Inicio: 16/06/2019</h3>
								<h3>Fecha Final: 18/07/2019</h3>
								<h3>Descripción:</h3>
								<p>Leon Robotico, el cual se mueve por medio de la raspberrry pi B+, con la ayuda de un mortor dc, y los demas componentes que permiten el movimiento de el leon. </p>
						</div>
				      <div class="card-body">
				        <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon3">IP</span>
						  </div>
						  <input type="text" class="form-control" aria-describedby="basic-addon3" [(ngModel)]="ip" >
					  	</div>						  	
		  					<div class="row">
								<div  class="col-md-6 col-sm-6 col-xs-6 ubicacion">
										<h3>Movimiento</h3>
									<button [disabled]="disabled" (click)="sendAction('aback')" title="Atras">
										<img src="https://image.flaticon.com/icons/svg/427/427589.svg" class="size">
									</button>
									<button [disabled]="disabled" (click)="sendAction('stop')" title="Parar">
										<img src="https://image.flaticon.com/icons/svg/1757/1757017.svg" class="size">
									</button>
								
								</div>
								<div  class="col-md-6 col-sm-6 col-xs-6 ubicacion">
									<h3>Cabeza</h3>
									<button [disabled]="disabled" (click)="movHead('0')" title="A cero grados">
										<img src="https://image.flaticon.com/icons/svg/126/126492.svg" class="size">								
									</button>
									<button [disabled]="disabled" (click)="movHead('90')" title="A noventa grados">
										<img src="https://image.flaticon.com/icons/svg/149/149116.svg" class="size">	
									</button>
									<button [disabled]="disabled" (click)="movHead('180')" title="A 180 grados">
										<img src="https://image.flaticon.com/icons/svg/126/126490.svg" class="size">	
									</button>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 ubicacion"> 
									<button  [disabled]="disabled" title="Sonido" (click)="playSound()">
										<img src="https://image.flaticon.com/icons/svg/149/149140.svg" class="size">								
									</button>									
								</div>	  	  
							</div>  				
				      </div>				     
				    </div>
				</div>
			</div>
		</div>	
	</div>
</div>
